@tailwind components;
@tailwind utilities;

*,
body,
body::after,
body::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
#root {
  scroll-behavior: smooth;

  height: 100vh;
}

#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.font-s {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.padding-150 {
  padding: 0 150px;
}
.logoImage {
  width: 180px;
}
@media screen and (max-width: 1200px) {
  .padding-150 {
    padding: 0 50px;
  }
  .logoImage {
    width: 130px;
  }
}

.z-500 {
  z-index: 500;
}
.wrap-section {
  height: calc(100vh);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
ul,
li {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.h-100 {
  height: 100%;
}
.pages > li {
  padding: 0 5px;
  margin: 0 10px;
}

.ease-in-out {
  transition: all ease-in-out 0.5s;
}
.mw-100 {
  min-width: 70px;
}
.wrapper::before {
  content: "";
  width: 100%;
  height: 120px;
  display: block;
}

.content-center {
  justify-items: center;
  align-items: center;
}
.border-top,
.border-top-xl {
  border-top: 1px solid rgba(212, 212, 212, 0.527) !important;
}

.blue {
  color: rgb(6, 6, 182);
}
.btn-h {
  display: flex;
  background-color: black;
  width: 200px;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  border: none;
}
.btn {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-h:hover {
  border-radius: 100px;
}
@media screen and (max-width: 1000px) {
  .flex-col-1000 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex-col-1000 div {
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .btn-h {
    width: 150px;
    padding: 15px 0px;
  }
  .border-top-xl {
    border: none !important;
  }
}
.imgwrap {
  flex: 1;
  display: flex;
  align-items: center;
}

.font-sm {
  font-size: 18px;
}
.font-sm span {
  font-weight: 500;
  opacity: 0.9;
}
.align-center {
  align-items: center !important;
  justify-content: center;
}

.flex-col-end {
  align-items: flex-end;
}

.mw-300 {
  max-width: 600px;
}
.flex-end {
  justify-content: flex-end !important;
}

.image-container img {
  width: 100%;
  /* min-width: 300px; */
  scale: 1.2;
}
.image-container {
  min-width: 250px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.25rem;
  overflow: hidden;
  max-height: 95%;
  padding-top: 10px;
}
.wrap {
  height: calc(100vh);
  width: 100%;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}
.border-bottom {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.753);
}

.form-inputs input {
  min-height: 70px;
  background-color: transparent;
  font-size: 18px;
}
.border-bottom:focus {
  outline: none;
}
.form h1 {
  font-size: 80px;
}
.form {
  max-width: 600px;
}
.flex-1-i {
  flex: 1;
}

.bg-black-200 {
  background-color: rgba(0, 0, 0, 0.336);
  opacity: 0;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.image-div:hover .bg-black-200 {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .invert {
    flex-direction: column-reverse;
  }
  .flex-1 {
    flex: 1 !important;
  }
  .invert p {
    font-size: 15px;
  }
  .invert span {
    display: flex;
  }
  .form-inputs input {
    min-height: 50px;
    font-size: 15px;
  }
  .flex-col-end {
    align-items: center !important;
  }
}

@media screen and (max-width: 550px) {
  .name-email {
    flex-direction: column;
  }

  .flex-col-end {
    align-items: center !important;
  }
  .btn-h {
    width: 120px;
    padding: 10px 0px;
  }
}
.capitalize {
  text-rendering: optimizeSpeed;
}
.affil span {
  margin-right: 10px;
}
.affil li {
  padding: 10px;
  margin: 10px 0;
}
.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: black;
  color: aliceblue;
}
.copyright p {
  display: flex;
  align-items: center;
  min-width: 165px;
  justify-content: space-evenly;
  font-size: 12px !important;
  font-weight: 500;
}

.space-between {
  justify-content: space-between;
}
.display-none {
  visibility: hidden;
  
}
